<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Gestor de clientes</h1>
        <button class="btn btn-success" on-click="obtenerClientes">Obtener Clientes</button>
        <button class="btn btn-danger" on-click="agregarClientes">Registro</button>
        </div>
        <div class="row">
         <table class="table table-striped">
           <tbody>
             <template is="dom-repeat" items="{{clientes}}">
               <tr>
                 <td>
                   [[item.idcliente]]
                 </td>
                 <td>
                   [[item.nombre]]
                 </td>
                 <td>
                   [[item.apellido]]
                 </td>
                </tr>
             </template>
          </tbody>
        </table>
        </div>
     </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
           }
        };
      }
    obtenerClientes() {
      var request = new XMLHttpRequest();
      request.open("GET", "http://localhost:3002/v1/Clientes",false );
      //request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false   );
      request.setRequestHeader("Accept", "application/json");
      request.send();
      this.clientes = JSON.parse(request.responseText);
      //this.clientes = JSON.parse(request.responseText).value;
      //console.table(this.clientes);
     }
     agregarClientes() {
       var request = new XMLHttpRequest()
       request.open("POST", "http://localhost:3002/v1/Clientes",false   );
       //request.open("POST", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false   );
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-type", "application/json");
       var nuevoCliente = {"idcliente":9999, "nombre":"Pepe", "apellido":"Bar"};
       var body = JSON.stringify(nuevoCliente);
       request.send(body);

       this.respuesta = request.responseText;
       console.log(this.respuesta);
     }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
